/* Our product */
.home-page .our-product {
    background: transparent url('/img/hero-product.jpg') top center no-repeat;
    background-size: auto 100%;
    height: 100vh;
    max-height: 812px;
    position: relative;
}

.home-page .our-product .hand {
    position: absolute;
    right: 10vw;
    height: 110vh;
    bottom: 1px;
    max-height: 866px;
}

.home-page .our-product svg {
    fill: #fff;
    opacity: 1;
}

.home-page .our-product li {
    padding-right: 20px;
}
