.product-login {
  background: none;
  margin: 0;
  height: auto; }
  @media (min-width: 576px) {
    .product-login {
      background: transparent url("/img/our-product-login.jpg") top right no-repeat;
      margin: 60px 0 0 0; } }
  @media (min-width: 576px) {
    .product-login {
      background-position: 130px top;
      height: 723px; } }
  @media (min-width: 992px) {
    .product-login {
      background-position: top right;
      height: 823px; } }
  .product-login .col-12 {
    padding: 40px 0 20px 0; }
    @media (min-width: 992px) {
      .product-login .col-12 {
        padding-top: 120px; } }
    .product-login .col-12 hr {
      margin-left: 2%;
      width: 18%; }

.product-checkin {
  background-position: center right;
  height: auto; }
  @media (min-width: 576px) {
    .product-checkin {
      background: transparent url("/img/our-product-checkin.jpg") top center no-repeat;
      height: 771px; } }

.our-product-page .hero-copy.inverse {
  padding: 40px 15px; }
  @media (min-width: 576px) {
    .our-product-page .hero-copy.inverse {
      padding: 13% 10% 0 0; } }

.our-product-page .our-product-page .slider .hero-copy h3 {
  font-size: 26px;
  margin: 0; }
  @media (min-width: 576px) {
    .our-product-page .our-product-page .slider .hero-copy h3 {
      margin: 70px 0 20px 0; } }

.our-product-page .our-product-page footer {
  margin-top: 0; }
