.hero {
  background: transparent url("/img/hero-primary.jpg") top center no-repeat;
  height: 320px;
  background-size: auto 100%; }
  @media (min-width: 768px) {
    .hero {
      background-position: top center;
      background-size: 100% auto; } }
  @media (min-width: 992px) {
    .hero {
      height: calc(100vh - 129px - 54px - 68px);
      background-size: auto; } }
  .hero.secondary {
    background-position: center left; }
    @media (min-width: 576px) {
      .hero.secondary {
        height: 436px;
        background: transparent url("/img/hero-secondary.jpg") top center no-repeat; } }
    .hero.secondary h1 {
      width: 100%;
      padding-top: 140px; }
      @media (min-width: 576px) {
        .hero.secondary h1 {
          padding: 180px 0 0 10%; } }
  .hero h1 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    width: 60px;
    display: block;
    line-height: 1em;
    font-size: 4rem;
    padding: 5% 0 0 5%; }
    @media (min-width: 768px) {
      .hero h1 {
        padding: 5% 0 0 10%; } }
    @media (min-width: 992px) {
      .hero h1 {
        font-size: 6rem;
        padding: 5% 0 0 20%; } }
