footer {
  background-color: #23272c;
  color: #c5c5c5;
  padding: 24px 0 10px 0;
  margin-top: 50px;
  font-size: 0.875rem; }
  @media (min-width: 992px) {
    footer {
      margin-top: 150px;
      padding: 84px 0 20px 0; } }
  footer .logo svg {
    fill: #34363a;
    max-width: 120px; }
    @media (min-width: 576px) {
      footer .logo svg {
        max-width: none; } }
  footer strong {
    color: #fff; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff; }
  footer hr {
    border-color: #34363a;
    margin: 20px 0; }
    @media (min-width: 576px) {
      footer hr {
        margin: 70px 0 20px 0; } }
